.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.controls {
  display: flex;
  gap: 10px;
}

.controls > * {
  font-size: 14px;
  line-height: 20px;
}

.controlsItem {
  flex-grow: 1;
  width: 100%;
}
