.container {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
  gap: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
}

.btn {
  padding: 5px 0;
  color: #fff;
  background-color: var(--blue);
  border-radius: 4px;
}

.btn:hover {
  background-color: var(--blue-hover);
}
