.container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  color: var(--dark);
  border: 1px solid var(--border);
  border-radius: 4px;
}

.quickSelectBtn {
  height: 40px;
  background-color: var(--bg-color);
  border-right: 1px solid var(--border);
}

.quickSelectBtn:hover {
  background-color: var(--bg-color-hover);
}

.arrow {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 10px;
  background-image: url("../../assets/arrow-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
